@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD
main{
  min-height: calc(100vh-6rem);
 
=======

main {
  min-height: calc(100vh - 6rem);
>>>>>>> ee329711660ecef4ff45df1499acab284e2afcd0
}
